@charset "UTF - 8";

@media screen and (min-width: 990px) {
    main{
        background-color: brown;
        font-size: 18px;
    }
    section{
        display: flex;
    }
    main section input{
        font-size: 18px;
        
    }
    main section input[type="radio"]{
        transform: scale(1.2);
        margin: 20px 5px;
    }

    main section div.tab{
        width: 40%;
        margin-left: 50px;
    }
    main section div select#tabuada{

        padding: 8px;
        word-spacing: 10px;
        font-size: 18px;
    }
}
@media screen and (min-width: 1150px) {
    main{
        width: 800px;
        background-color: bisque;
    }
    
}
@media screen and (min-width:1320px) {
    main{
        width: 60%;
        background-color: blueviolet;
    }
}
