@charset "UTF - 8";
*{
    
}
body{
    height: 675px;
    background-color: beige;
    /* background: linear-gradient(to bottom, #add8e6, #00008b); */
}
header{
    color: #ffffff;
    text-align: center;
}
main{
    border: 2px solid black;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.534);
    border-radius: 10px;
    background-color: #ffffff;
    height: 500px;
    width: 400px;
    margin: auto;
    padding: 20px;
}
main div{
    text-align: center;
    font-size: 20px;
}
div#msg{
    padding: 17px;
    border-radius: 50%;
}
img{
    border-radius: 100%;
    position: center center;
    height: 350px;
    width: 380px;
}
footer{
    color: #ffffff;
    text-align: center;
}