@charset "UTF-8";

@media screen and (min-width: 560px) {
    div#msg{
        font-size: 25px;
    }
    img{

        height: 300px;
        width: 400px;
    }
}
@media screen and (min-width: 768px){

    
    div#msg{
        font-size: 30px;
    }
    img{

        height: 300px;
        width: 400px;
    }
    footer{
        height: 20px;
        font-size: 15px;
    }
}